@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.my-wallet-container {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .wallet-info {
    display: flex;
    justify-content: space-between;
  }
  
  .balance, .cash, .betting-power {
    width: 30%;
    text-align: center;
  }
  h1 {
    text-align: center;
    margin-bottom: 10px;
    font-family: 'Rubik', sans-serif;
    font-size: 35px;
}
  h2 {
      text-align: center;
      margin-bottom: 10px;
      font-family: 'Rubik', sans-serif;
      font-size: 28px;
  }

  h3 {
    font-size: px;
    margin-bottom: 10px;
    font-family: 'Rubik', sans-serif;
  }

  p {
    font-size: 16px;
    font-family: 'Rubik', sans-serif; 
  }

  .balance {
    float: left;
    width: 200px;
    height: 150px;
    border-radius: 10px;
    background-color: #f1f1f1;
    box-shadow: 3px 3px 10px #999;
    padding: 20px;
    margin: 20px;
  }

  .button-stack {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  .balance button {
    border-radius: 5px;
    font-family: 'Rubik', sans-serif;
    grid-area: button;
    max-width: 150px;
    max-height: 75x;
    font-size: 16px;
    background-color: rgb(64, 29, 237);
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    padding: 5 5 5 5;
  }
  
  .cash {
    float: left;
    width: 200px;
    height: 150px;
    border-radius: 10px;
    background-color: #f1f1f1;
    box-shadow: 3px 3px 10px #999;
    padding: 20px;
    margin: 20px;
  }
  
  .betting-power {
    float: left;
    width: 200px;
    height: 150px;
    border-radius: 10px;
    background-color: #f1f1f1;
    box-shadow: 3px 3px 10px #999;
    padding: 20px;
    margin: 20px;
  }
  