@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@600&family=Ubuntu:wght@500&display=swap');
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}
.modal-overlay.is-open {
  visibility: visible;
}

.modal-content {
  width: auto;
  max-height: 80vh;
  background-color: white;
  padding: 30px;
  padding-bottom: 50px;
  border-radius: 10px;
  font-size: 20px;
  font-family: 'Rubik', sans-serif;
  height: auto;
  overflow-y: auto;
  }



.modal-content.is-open {
  display: block;
}

.bet-modal-close-button {
  position: absolute;
  margin-top: -70px;
  margin-left: -10px;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 3px 3px 10px #999;
  font-size: 18px;
  border-color: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Ubuntu', sans-serif;
  }

  .modal-content h3 {
    text-align: center; /* centers the text */
    margin-top: 55px;
    font-size: 26px;
    font-family: 'Rubik', sans-serif;
  }
  
  .modal-content h4 {
    text-align: center; /* centers the text */
    font-size: 28px;
    margin-top: 45px;
    margin-bottom: 10px;
    padding-bottom: 30px;
    color: #0ba522;
    font-family: 'Rubik', sans-serif;
    }

    .choice-container {
      display: table-row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
    .choice-container input[type="radio"] {
      margin-right: 8px;
    }
    .choice-container input[type="radio"]:checked + label {
      color:rgb(48, 37, 255);
    } 
    .choice-selection {
      margin-top: 15px;
      margin-bottom: 10px;
    }

  .modal-content p {
    color:black;
    font-size: 20px;
    font-weight: 300;
    font-family: 'Rubik', sans-serif;
  }

  .modal-content input[name="betAmount"] {
    height: 35px;
    font-size: 20px;
  }

  .entry-form{
    margin-top: 25px;
    width: 100%
  }

  .bet-amount-input {
    width: 50%;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    color: #333;
    padding: 10px;
    padding-left: 20px;
    border-radius: 5px;
    margin-right: 15px;
    border: 2px solid #333;
}

  .modal-content button[type="submit"] {
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
    font-size: 22px;
    background-color: rgb(48, 37, 255);
    box-shadow: 3px 3px 8px rgb(108, 107, 107);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    align-self: center;
  }

  .modal-content button[type="submit"]:hover {
    background-color: #b730fa;
  }